# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environment
.venv/
venv/
ENV/
env/

# System files
.DS_Store
Thumbs.db

# Logs
*.log

# Database connection configs
*.env
config.json

# Compiled files
*.so

# IDE settings
.vscode/
.idea/
